<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body>
<header>
    <th:block th:include="fragments/nav"></th:block>
</header>
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Products</span></h1>
        <hr class="hr-3"/>
        <div class="bg-blur container w-50">
            <div class="row mb-4 d-flex flex-column text-center">
                <a href="/products/details/Buzzer"><img library="img" src="/img/MALE-SHIRT.jpg" class="img-thumbnail" width="200"
                                                        height="200"/>
                </a>
                 <h5 class="text-center">Buzzer</h5>
                <h2 class="text-center">65.00</h2>
            </div>
        </div>
    </main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>
